* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-login {
    margin-right: 75px;
}

.navigator img {
    width: 200px;
    margin-left: 100px;
    user-select: none;
    margin-left: 100px;
    cursor: pointer;
}

.nav-list ul {
    list-style: none;
    width: 100%;
}

.nav-list ul li {
    display: inline-block;
    position: relative;
    width: auto;
    margin-left: -10px;
}

.navigation .menu{
    position: relative;
}

.navigation .menu .submenu {
    position: absolute;
    top: 33px;
    left: 0;
    width: 150px;
    background-color: #000000;
    display: none;
    border-radius: 10px;
}

.navigation .submenu li {
    padding: 10px ;
}

.navigation .submenu li a {
    color: white;
    text-decoration: none;
    width: 50%;
}

.navigation .submenu li a:hover{
    color: #4189c8;
    position: relative;
}


.navigation .menu:hover .submenu {
    display: block;
}

#dropdown1 {
    margin: 0 0 0 -5px;
}

#dropdown2 {
    margin: 0 0 0 12px ;
}

.nav-list a {
    display: block;
    position: relative;
    font-size: 16px;
    margin: 0 40px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
    color: black;
    text-align: center;
    transition: all 0.25s ease;
}

.nav-list ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-list ul li a:hover::after {
    transform: scaleX(1);
}

.navigator .button-login {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    color: black ;
    margin-left: 40px;
    transition: .5s;
}

.navigator .button-login:hover {
    background: rgb(36, 36, 36);
    color: white; 
}

.aboutus {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 5%;
}

.aboutus p {
    margin-top: 5%;
    display: block;
    font-size: 22px;
}

.aboutus-header {
    display: block;
    font-size: 44px;
}
